<div id="footer">
  <p>
    如非特别声明，本 Blog 的文章由 {{ site.author }} 创作，采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">知识共享署名-非商业性使用-相同方式共享 3.0 Unported 许可协议</a>进行许可。
  </p>
  <p>
    Powered by <a href="http://octopress.org">Octopress</a> and <a href="https://github.com/iwinux/compbits">Compbits</a>
  </p>
  
	<script type='text/javascript'>
	(function() {
	    var c = document.createElement('script'); 
	    c.type = 'text/javascript';
	    c.async = true;
	    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/48216';
	    var h = document.getElementsByTagName('script')[0];
	    h.parentNode.insertBefore(c, h);
	})();
	</script>  
</div>